body{
    background-image: url(GettyImages-525442439.webp);
}
.texto1{
    color:rgb(0, 255, 255);
    text-align:center;
    font-size: 20px;
    background-color: azure;
}
.texto2{
    color:rgb(0, 206, 209);
    text-align:center;
    font-size: 20px;
    background-color: azure;
}
#titulo{
    color:rgb(0, 128, 128);
    text-align: center;
    font-size: 30px;
    background-color: azure;
}
#foto{
    padding: 20px;
    margin: 20px;
}